{# 购物车 #}
{% extends 'not_cart_base.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-购物车{% endblock title %}
{% block page_title %}购物车{% endblock page_title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock topfiles %}
{% load staticfiles %}
{% block body %}
    	<div class="total_count">购物车<em>{{ goods_type_count }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    <form method="post" action="/order/">
    {% for goods in goods_li %}
    <ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="goods_ids" value="{{ goods.id }}" checked></li>
		<li class="col02"><img src="{% static goods.image %}"></li>
		<li class="col03">{{ goods.name }}<br><em>{{ goods.price }}元/{{ goods.unite }}</em></li>
		<li class="col04">{{ goods.unite }}</li>
		<li class="col05">{{ goods.price }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" goods_id="{{ goods.id }}" class="num_show fl" value="{{ goods.count }}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07">{{ goods.amount }}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}
    <ul class="settlements">
    {% csrf_token %}
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>{{ total_price }}</em><br>共计<b>{{ total_count }}</b>件商品</li>
		<li class="col04"><input type="submit" value="去结算"></li>
	</ul>
    </form>
{% endblock body %}
